* {
   margin: 0px;
   bottom: 0px;
   box-sizing: border-box; /* Свойства для сброса начальных стилей элементов */
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
   background-color: #2965f1;; /* Стили для хедера */
   padding: 23px;
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff; 
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0px 60px;
    min-height: 1024px ;
   /* Стили для первой секции */
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 20px;
}

.main-text {
    font-weight: 400;
    font-size: 18px;
    /* Стили для текста в первой секции */
}

.main-image {
   max-width: 715px; /* Стили для изображения в первой секции */
}


.about-section {
   background-color: #fff;
   padding: 100px 0px 100px; /* Стили для второй секции */
}

select {
    background: url(./assets/image/ep_arrow-down.svg) no-repeat right 12px top 50%;
    appearance: none;
    padding-left: 12px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
      /* Стили для выпадающего списка */
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 25px;/* Стили для заголовков во второй секции */
}

.frameworks-list {
   list-style-image: url(./assets/image/solar_map-arrow-up-bold.svg) ;
   padding-left: 20px;
   font-weight: 400;
    font-size: 16px; /* Стили для маркированного списка во второй секции */
}

.books-list {
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
    /* Стили для нумерованного списка во второй секции */
}

.label {
    font-weight: 400;
    font-size: 16px;/* Стили для подписей чекбоксов */
}

.text-field {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    resize: none;
    padding: 9px 0px 8px 12px;
    /* Стили для односточного поля ввода текста */
}

.btn {
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff; /* Стили для кнопки */
    border: none;
}

.line {
   margin-top: 60px;
   margin-bottom: 60px; /* Стили для линии */
}

table {
    border-collapse: collapse; /* Стили для таблицы */
}

th, td {
    border: 1px solid #95a1bb;
    width: 113px;
    height: 40px;
    text-align: left;
    padding: 11px 13px 11px 15px;/* Стили для ячеек таблицы */
}

footer {
   background-color: rgba(163, 167, 255, 0.3);
   padding: 26px 0px 27px 1px; /* Стили для футера */
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;  /* Стили для футера */
}